body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

th{
    border: 1px solid black;
    display: table-cell;
    padding: 8px;
}

td{
    padding: 5px;
}

th {
    border: 1px solid black;
    display: table-cell;
}

.title {
    background-color: antiquewhite;
}

.left {
    float: left;
}

.right {
    float: right;
}

.text-center {
    text-align: center;
}

/*Khoang cach*/

.w-20per{
    width: 20%;
}

.w-50per{
    width: 50%;
}

.w-80per{
    width: 80%;
}

.p-r-0{
    padding-right: 0px;
}
