body {
    font-family: 'Open Sans', sans-serif;
}

.title {
    background-color: antiquewhite;
}

.left {
    float: left;
    width: 80%;
}

.right {
    float: right;
    width: 20%;
    background-color: rgba(214, 219, 223, 1);
}

.text-center {
    text-align: center;
}

table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

th {
    border: 1px solid black;
    display: table-cell;
}
